{% extends 'core/index.html' %}

{% load static %}

<title>{%block title %} Confirmacion Contraseña {% endblock %}</title>

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/exito.css' %}">

    <div class="coffee_section layout_padding">
        <div class="container">
           <div class="row">
              <h1 class="coffee_taital">¡¡TU CONTRASEÑA SE HA RESTABLECIDO CON EXITO!!</h1>
              <div class="bulit_icon"><img src="{% static 'core/images/bulit-icon.png' %}"></div>
           </div>
        </div>
        <div class="container d-flex justify-content-center align-items-center vh-100" id="contenedor">
            <div class="container-soli">
                <p class="parrafo-comple">Tu contraseña se ha restablecido correctamente. Ahora puedes iniciar sesión con tu nueva contraseña.</p>
                <div class="botones mt-4">
                    <div class="boton-iniciar">
                        <a style="color: rgb(48, 39, 39);" href="{% url 'login' %}" class="iniciar_sesion">
                            INICIAR SESIÓN
                        </a>
                    </div>
                    <div class="boton-regresar mt-2">
                        <a style="color: rgb(48, 39, 39);" href="{% url 'inicio' %}" class="volver">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg> REGRESAR
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        #contenedor {
            width: 50%; /* Ancho del contenedor al 50% de la ventana */
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 20px;
            border: 1px solid white; /* Contorno limpio */
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Sombra suave */
            text-align: center;
            transition: box-shadow 0.3s; /* Transición para el efecto hover */
        }
    
        #contenedor:hover {
            box-shadow: 0 12px 20px rgba(0, 0, 0, 0.6); /* Más sombra en hover */
        }
    
        .botones {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .boton-iniciar,
        .boton-regresar {
            margin-top: 10px;
        }
      </style>
{% endblock %}
