{% extends 'core/index.html' %}

{% load static %}

<title>{%block title %} Solicitud Enviada {% endblock %}</title>

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/restablecer.css' %}">

    <div class="coffee_section layout_padding">
        <div class="container">
           <div class="row">
              <h1 class="coffee_taital">SOLICITUD DE CONTRASEÑA ENVIADA</h1>
              <div class="bulit_icon"><img src="{% static 'core/images/bulit-icon.png' %}"></div>
           </div>
        </div>
        <div class="container d-flex justify-content-center align-items-center vh-100" id="contenedor">
            <div class="container-soli">
                <p class="parrafo-soli">Se ha enviado un correo electrónico a tu Gmail con instrucciones para restablecer tu contraseña. Por favor, verifica tu bandeja de entrada y la carpeta de correo no deseado.</p>   
                <div  class="boton_regresar">
                    <p>    
                        <a style="color: rgb(48, 39, 39);" href="{% url 'inicio' %}" class="form-resta">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/><br>
                        </svg>REGRESAR</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <style>
        #contenedor {
            width: 50%; /* Ancho del contenedor al 50% de la ventana */
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 20px;
            border: 1px solid #ccc; /* Contorno limpio */
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Sombra suave */
            text-align: center;
            transition: box-shadow 0.3s; /* Transición para el efecto hover */
        }
    
        #contenedor:hover {
            box-shadow: 0 12px 20px rgba(0, 0, 0, 0.6); /* Más sombra en hover */
        }
    
      </style>
{% endblock %}
